<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <!-- app.use(express.static(path.join(__dirname , 'public'))); (Here we are saying only /CSS/main.css , because in our) -->
    <!-- appUsingExpress file we are already saying that look for static files in public folder , hence it will add that path automatically -->
    <link rel="stylesheet" href="/CSS/main.css">
    <!-- <link rel="stylesheet" href="/CSS/product.css">
    <link rel="stylesheet" href="/CSS/forms.css"> -->
<!-- </head> -->